
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    color: rgb(0,0,0,0.4);
    text-transform: uppercase;
}
.container{
  width: 800px;
    
}

.Resume {
    padding: 80px;
    min-height: 800px;
}
.Details{
   text-align: right;
}
.Details ul{
     list-style-type: none;
}
.Header{
    text-transform: uppercase;
    display: flex;
    align-items: center;


}
.pointers{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 0.7fr 3fr;

}
.title{
    font-weight: bold;
    color: black;
}

.workcontent{
    margin-top: 5px;
}
.content{
    padding: 10px;
}
.context{
    list-style-type: none;
    max-height: 120px;
    overflow-x: auto;
    padding-left: 50px;
}
#summary{
    padding: 40px;
}
#Nametitle{
    color: rgb(198, 8, 8);
    font-weight: 100;
}
img{
    padding: 3px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
}
button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px;
    /* Green */
}



/* LeftsideEnd */